.button {
  background: linear-gradient(to right, $color-primary-green, $color-primary-cyan);
  padding: 13px 30px;
  border-radius: 20px;
  border: none;
  color: $color-white;
  font-weight: 700;
  cursor: pointer;
  transition: all .2s ease;

  &:hover {
    opacity: 60%;
  }
}

@include sm {
  .button {
    padding: 13px 20px;
  }
}