$color-primary-dark: hsl(233, 26%, 24%);
$color-primary-green: hsl(136, 65%, 51%);
$color-primary-cyan: hsl(192, 70%, 51%);

$color-blue-gray: hsl(233, 8%, 62%);
$color-blue-light: hsl(220, 16%, 96%);
$color-gray-light: hsl(0, 0%, 98%);

$color-white: hsl(0, 0%, 100%);

