.feature {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 4em;
  padding-inline: 1.2em;
}

.feature > .feature-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature > .feature-list > h3,
.feature > .feature-list > p {
  text-align: center;
}

.feature > .feature-list > img {
  padding-bottom: 2.5em;
}

.feature > .feature-list > p {
  padding-top: 1em;
}

@media (min-width: 768px) {
  .feature {
    margin-top: 4em;
    grid-template-columns: 1fr 1fr;
  }

  .feature > .feature-list {
    width: 350px;
  }
}