.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-title {
    font-size: 30px;
    font-weight: 500;
    color: $color-dark;
  }

  &-paragraph {
    padding: 25px 0;
    max-width: 40vw;
    color: $color-gray;
    line-height: 1.6;
  }
  
  &-title,
  &-paragraph {
    text-align: center;
  }
}

@include lg {
  .description {
    &-title {
      max-width: 80vw;
    }

    &-paragraph {
      max-width: 80vw;
      font-size: 15px;
    }
  }
}